<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= humanized_app_name %></title>
    <%- if bundled_assets? -%>
    <%%= favicon %>
    <%%= stylesheet "app" %>
    <%- end -%>
  </head>
  <body>
    <%%= yield %>
  </body>
</html>
