<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= humanized_app_name %></title>
    <%- if generate_assets? -%>
    <%%= favicon %>
    <%%= css "app" %>
    <%- end -%>
  </head>
  <body>
    <%%= yield %>
    <%- if generate_assets? -%>
    <%%= js "app" %>
    <%- end -%>
  </body>
</html>
