<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= humanized_app_name %> - <%= humanized_slice_name %></title>
    <%- if bundled_assets? -%>
    <%%= favicon_tag %>
    <%= stylesheet_erb_tag %>
    <%- end -%>
  </head>
  <body>
    <%%= yield %>
    <%- if bundled_assets? -%>
    <%= javascript_erb_tag %>
    <%- end -%>
  </body>
</html>
